node_modules
.cache
.env
.DS_Store
coverage
dist
.nyc_output
.eslintcache
.webpack
.next
.serverless
.circleci
.github
.gitlab-ci
.vscode
*.log
*.tmp
*.bak
*.swp
*.swo
*.swn
*.log
Thumbs.db
.idea
build
out
tmp
*.pid
*.lock
npm-debug.log
yarn-error.log
yarn-debug.log
yarn.lock
.pnp.*
.yarn/*
!yarn/patches
!yarn/plugins
!yarn/releases
!yarn/versions
.env.*
!.env.example
!.env.production
!.env.staging
!.env.test
.env.local
.env.development
.env.ci
.env.local.example
.env.development.example
.env.ci.example
.env.production.example
.env.staging.example
.env.test.example

output.json
deployment.zip
deploy
update
invoke